@import "./variables.module.scss";

#main {
  height: 100vh;
  padding: 75px;
  .tableContainer {
    margin-bottom: 50px;
    width: 100%;
    .tableTitle {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
}
