$primary-color: #7070d8;
$primary-bg: #fbfbfb;
$secondary-bg: #f7f7f7;
$text-color: #3c3c3b;
$border-color: #aaaaaa;
$primary-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
$card-bg: #f2f2fa;
$secondary-card-bg: #2d3648;
$primary-blue: #111d4a;
